*{
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Raleway',sans-serif;
    font-weight: bold;
}

.wrapper {
    width: 1100px;
    margin: auto;
    position: relative;
}

.logo a {
    font-size: 50px;
    font-weight: 700;
    float: left;
    font-family: 'Courier New', Courier, monospace;
    color: #A86523;
}

.menu {
    float: right;
}

nav{
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 80px;
    position: sticky;
    position: -webkit-sticky; 
    top: 0;
    background:#FAD59A ;
    z-index: 1;
    border-bottom: 1px solid #A86523 ;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    color: #A86523;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

section {
    margin: auto;
    display: flex;
    margin-bottom: 70px;
}

.kolom {
    margin-top: 135px;
    margin-bottom: 70px;
}

.kolom .Home {
    font-size: 50px;
    font-weight: bold;
    font-family: 'comic sans - ms';
    color: #A86523;
}

h2 {
    font-family: 'comic sans - ms';
    font-weight: 500px; 
    font-size: 30px;  
    margin-bottom: 10px;
    color: #BF9264;
    width: 100%;
    line-height: 50px;
}

.tengah {
    text-align: center;
    width: 100%;
}

.product-list {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.Product-Cardigan {
    width: 20px;
    margin: 0px;
}

.Product-Cardigan img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.Product-Cardigan p{
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 25px;
    text-align: center;
    color: #A86523;
}

pesan text{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f9f9f9;
    text-align: center;
}

pesan {
background-color: #004080;
    color: white;
    padding: 20px 0;
}

.btn-pesan {
    display: inline-block;
    padding: 12px 24px;
    background-color: #FAD59A;
    color: #00050a;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s;
    margin-top: 20px;
    position: relative;
}

.btn-pesan:hover {
    background-color: #FAD59A;
}

#Contact {
    background: #FAD59A;
    padding: 50px 0px 50px 0px;
}

.footer {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.footer-section {
    width: 20%;
    margin: 0 auto;
}

h3 {
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 30px;
    margin-bottom: 30px;
    color: #A86523;
    width: 100%;
    line-height: 50px;
}

#copyright {
    text-align: center;
    width: 100%;
    padding: 50px 0px 50px 0px;
    margin-top: 50px;
}

@media screen and (max-widht: 991) {
    .wrapper {
        width:90%
    }

    .logo a {
        display: block;
        width: 100%;
        text-align: center;
    }

    nav .menu {
        width: 100%;
        margin: 0;
    }

    nav .menu ul {
        text-align: center;
        margin: auto;
        line-height: 60px;
    }

    nav .menu ul li {
        display: inline;
        float: none;
    }

    section img {
        display: block;
        width: 100%;
        height: auto;
    }

    .product-list {
        width: 50%
    }
}